@charset "utf-8";

$vl-font-location: "../../deps/webuniversum/package/vl-ui-core/src/font/flanders/";
$vl-icon-font-location: "../../deps/webuniversum/package/vl-ui-core/src/font/iconfont/";

@import "../../deps/webuniversum/package/vl-ui-core/src/scss-fresh/core";

@import "../../deps/webuniversum/package/vl-ui-agenda-item/src/scss-fresh/agenda-item";
@import "../../deps/webuniversum/package/vl-ui-alert/src/scss-fresh/alert";
@import "../../deps/webuniversum/package/vl-ui-contact-data/src/scss-fresh/contact-data";
@import "../../deps/webuniversum/package/vl-ui-doormat/src/scss-fresh/doormat";
@import "../../deps/webuniversum/package/vl-ui-introduction/src/scss-fresh/introduction";
@import "../../deps/webuniversum/package/vl-ui-infoblock/src/scss-fresh/infoblock";
@import "../../deps/webuniversum/package/vl-ui-link/src/scss-fresh/link";
@import "../../deps/webuniversum/package/vl-ui-loader/src/scss-fresh/loader";
@import "../../deps/webuniversum/package/vl-ui-spotlight/src/scss-fresh/spotlight";
@import "../../deps/webuniversum/package/vl-ui-titles/src/scss-fresh/titles";
@import "../../deps/webuniversum/package/vl-ui-typography/src/scss-fresh/typography";

@import "../../deps/webuniversum/package/vl-ui-hero-navigation/src/scss-fresh/hero-navigation";
@import "../../deps/webuniversum/package/vl-ui-link-list/src/scss-fresh/link-list";
@import "../../deps/webuniversum/package/vl-ui-properties/src/scss-fresh/properties";
@import "../../deps/webuniversum/package/vl-ui-side-navigation/src/scss-fresh/side-navigation";

@import "../../deps/webuniversum/package/vl-ui-util/src/scss-fresh/util";
