.pa-0 { padding: 0px}
.pa-1 { padding: 4px}
.pa-2 { padding: 8px}
.pa-3 { padding: 12px}
.pa-4 { padding: 16px}
.pa-5 { padding: 20px}
.pa-6 { padding: 24px}
.pa-7 { padding: 28px}
.pa-8 { padding: 32px}
.pa-9 { padding: 36px}
.pa-10 { padding: 40px}
.pa-11 { padding: 44px}
.pa-12 { padding: 48px}
.pa-13 { padding: 52px}
.pa-14 { padding: 56px}
.pa-15 { padding: 60px}
.pa-16 { padding: 64px}
.pa-n1 { padding: -4px}
.pa-n2 { padding: -8px}
.pa-n3 { padding: -12px}
.pa-n4 { padding: -16px}
.pa-n5 { padding: -20px}
.pa-n6 { padding: -24px}
.pa-n7 { padding: -28px}
.pa-n8 { padding: -32px}
.pa-n9 { padding: -36px}
.pa-n10 { padding: -40px}
.pa-n11 { padding: -44px}
.pa-n12 { padding: -48px}
.pa-n13 { padding: -52px}
.pa-n14 { padding: -56px}
.pa-n15 { padding: -60px}
.pa-n16 { padding: -64px}

.pt-0   { padding-top: 0px}
.pt-1   { padding-top: 4px}
.pt-2   { padding-top: 8px}
.pt-3   { padding-top: 12px}
.pt-4   { padding-top: 16px}
.pt-5   { padding-top: 20px}
.pt-6   { padding-top: 24px}
.pt-7   { padding-top: 28px}
.pt-8   { padding-top: 32px}
.pt-9   { padding-top: 36px}
.pt-10  { padding-top: 40px}
.pt-11  { padding-top: 44px}
.pt-12  { padding-top: 48px}
.pt-13  { padding-top: 52px}
.pt-14  { padding-top: 56px}
.pt-15  { padding-top: 60px}
.pt-16  { padding-top: 64px}
.pt-n1  { padding-top: -4px}
.pt-n2  { padding-top: -8px}
.pt-n3  { padding-top: -12px}
.pt-n4  { padding-top: -16px}
.pt-n5  { padding-top: -20px}
.pt-n6  { padding-top: -24px}
.pt-n7  { padding-top: -28px}
.pt-n8  { padding-top: -32px}
.pt-n9  { padding-top: -36px}
.pt-n10 { padding-top: -40px}
.pt-n11 { padding-top: -44px}
.pt-n12 { padding-top: -48px}
.pt-n13 { padding-top: -52px}
.pt-n14 { padding-top: -56px}
.pt-n15 { padding-top: -60px}
.pt-n16 { padding-top: -64px}

.pb-0   { padding-bottom: 0px}
.pb-1   { padding-bottom: 4px}
.pb-2   { padding-bottom: 8px}
.pb-3   { padding-bottom: 12px}
.pb-4   { padding-bottom: 16px}
.pb-5   { padding-bottom: 20px}
.pb-6   { padding-bottom: 24px}
.pb-7   { padding-bottom: 28px}
.pb-8   { padding-bottom: 32px}
.pb-9   { padding-bottom: 36px}
.pb-10  { padding-bottom: 40px}
.pb-11  { padding-bottom: 44px}
.pb-12  { padding-bottom: 48px}
.pb-13  { padding-bottom: 52px}
.pb-14  { padding-bottom: 56px}
.pb-15  { padding-bottom: 60px}
.pb-16  { padding-bottom: 64px}
.pb-n1  { padding-bottom: -4px}
.pb-n2  { padding-bottom: -8px}
.pb-n3  { padding-bottom: -12px}
.pb-n4  { padding-bottom: -16px}
.pb-n5  { padding-bottom: -20px}
.pb-n6  { padding-bottom: -24px}
.pb-n7  { padding-bottom: -28px}
.pb-n8  { padding-bottom: -32px}
.pb-n9  { padding-bottom: -36px}
.pb-n10 { padding-bottom: -40px}
.pb-n11 { padding-bottom: -44px}
.pb-n12 { padding-bottom: -48px}
.pb-n13 { padding-bottom: -52px}
.pb-n14 { padding-bottom: -56px}
.pb-n15 { padding-bottom: -60px}
.pb-n16 { padding-bottom: -64px}

.pl-0   { padding-left: 0px}
.pl-1   { padding-left: 4px}
.pl-2   { padding-left: 8px}
.pl-3   { padding-left: 12px}
.pl-4   { padding-left: 16px}
.pl-5   { padding-left: 20px}
.pl-6   { padding-left: 24px}
.pl-7   { padding-left: 28px}
.pl-8   { padding-left: 32px}
.pl-9   { padding-left: 36px}
.pl-10  { padding-left: 40px}
.pl-11  { padding-left: 44px}
.pl-12  { padding-left: 48px}
.pl-13  { padding-left: 52px}
.pl-14  { padding-left: 56px}
.pl-15  { padding-left: 60px}
.pl-16  { padding-left: 64px}
.pl-n1  { padding-left: -4px}
.pl-n2  { padding-left: -8px}
.pl-n3  { padding-left: -12px}
.pl-n4  { padding-left: -16px}
.pl-n5  { padding-left: -20px}
.pl-n6  { padding-left: -24px}
.pl-n7  { padding-left: -28px}
.pl-n8  { padding-left: -32px}
.pl-n9  { padding-left: -36px}
.pl-n10 { padding-left: -40px}
.pl-n11 { padding-left: -44px}
.pl-n12 { padding-left: -48px}
.pl-n13 { padding-left: -52px}
.pl-n14 { padding-left: -56px}
.pl-n15 { padding-left: -60px}
.pl-n16 { padding-left: -64px}

.pr-0   { padding-right: 0px}
.pr-1   { padding-right: 4px}
.pr-2   { padding-right: 8px}
.pr-3   { padding-right: 12px}
.pr-4   { padding-right: 16px}
.pr-5   { padding-right: 20px}
.pr-6   { padding-right: 24px}
.pr-7   { padding-right: 28px}
.pr-8   { padding-right: 32px}
.pr-9   { padding-right: 36px}
.pr-10  { padding-right: 40px}
.pr-11  { padding-right: 44px}
.pr-12  { padding-right: 48px}
.pr-13  { padding-right: 52px}
.pr-14  { padding-right: 56px}
.pr-15  { padding-right: 60px}
.pr-16  { padding-right: 64px}
.pr-n1  { padding-right: -4px}
.pr-n2  { padding-right: -8px}
.pr-n3  { padding-right: -12px}
.pr-n4  { padding-right: -16px}
.pr-n5  { padding-right: -20px}
.pr-n6  { padding-right: -24px}
.pr-n7  { padding-right: -28px}
.pr-n8  { padding-right: -32px}
.pr-n9  { padding-right: -36px}
.pr-n10 { padding-right: -40px}
.pr-n11 { padding-right: -44px}
.pr-n12 { padding-right: -48px}
.pr-n13 { padding-right: -52px}
.pr-n14 { padding-right: -56px}
.pr-n15 { padding-right: -60px}
.pr-n16 { padding-right: -64px}

.px-0   { padding-left: 0px  ; padding-right: 0px  }
.px-1   { padding-left: 4px  ; padding-right: 4px  }
.px-2   { padding-left: 8px  ; padding-right: 8px  }
.px-3   { padding-left: 12px ; padding-right: 12px }
.px-4   { padding-left: 16px ; padding-right: 16px }
.px-5   { padding-left: 20px ; padding-right: 20px }
.px-6   { padding-left: 24px ; padding-right: 24px }
.px-7   { padding-left: 28px ; padding-right: 28px }
.px-8   { padding-left: 32px ; padding-right: 32px }
.px-9   { padding-left: 36px ; padding-right: 36px }
.px-10  { padding-left: 40px ; padding-right: 40px }
.px-11  { padding-left: 44px ; padding-right: 44px }
.px-12  { padding-left: 48px ; padding-right: 48px }
.px-13  { padding-left: 52px ; padding-right: 52px }
.px-14  { padding-left: 56px ; padding-right: 56px }
.px-15  { padding-left: 60px ; padding-right: 60px }
.px-16  { padding-left: 64px ; padding-right: 64px }
.px-n1  { padding-left: -4px ; padding-right: -4px }
.px-n2  { padding-left: -8px ; padding-right: -8px }
.px-n3  { padding-left: -12px; padding-right: -12px}
.px-n4  { padding-left: -16px; padding-right: -16px}
.px-n5  { padding-left: -20px; padding-right: -20px}
.px-n6  { padding-left: -24px; padding-right: -24px}
.px-n7  { padding-left: -28px; padding-right: -28px}
.px-n8  { padding-left: -32px; padding-right: -32px}
.px-n9  { padding-left: -36px; padding-right: -36px}
.px-n10 { padding-left: -40px; padding-right: -40px}
.px-n11 { padding-left: -44px; padding-right: -44px}
.px-n12 { padding-left: -48px; padding-right: -48px}
.px-n13 { padding-left: -52px; padding-right: -52px}
.px-n14 { padding-left: -56px; padding-right: -56px}
.px-n15 { padding-left: -60px; padding-right: -60px}
.px-n16 { padding-left: -64px; padding-right: -64px}

.py-0   { padding-top: 0px  ; padding-bottom: 0px  }
.py-1   { padding-top: 4px  ; padding-bottom: 4px  }
.py-2   { padding-top: 8px  ; padding-bottom: 8px  }
.py-3   { padding-top: 12px ; padding-bottom: 12px }
.py-4   { padding-top: 16px ; padding-bottom: 16px }
.py-5   { padding-top: 20px ; padding-bottom: 20px }
.py-6   { padding-top: 24px ; padding-bottom: 24px }
.py-7   { padding-top: 28px ; padding-bottom: 28px }
.py-8   { padding-top: 32px ; padding-bottom: 32px }
.py-9   { padding-top: 36px ; padding-bottom: 36px }
.py-10  { padding-top: 40px ; padding-bottom: 40px }
.py-11  { padding-top: 44px ; padding-bottom: 44px }
.py-12  { padding-top: 48px ; padding-bottom: 48px }
.py-13  { padding-top: 52px ; padding-bottom: 52px }
.py-14  { padding-top: 56px ; padding-bottom: 56px }
.py-15  { padding-top: 60px ; padding-bottom: 60px }
.py-16  { padding-top: 64px ; padding-bottom: 64px }
.py-n1  { padding-top: -4px ; padding-bottom: -4px }
.py-n2  { padding-top: -8px ; padding-bottom: -8px }
.py-n3  { padding-top: -12px; padding-bottom: -12px}
.py-n4  { padding-top: -16px; padding-bottom: -16px}
.py-n5  { padding-top: -20px; padding-bottom: -20px}
.py-n6  { padding-top: -24px; padding-bottom: -24px}
.py-n7  { padding-top: -28px; padding-bottom: -28px}
.py-n8  { padding-top: -32px; padding-bottom: -32px}
.py-n9  { padding-top: -36px; padding-bottom: -36px}
.py-n10 { padding-top: -40px; padding-bottom: -40px}
.py-n11 { padding-top: -44px; padding-bottom: -44px}
.py-n12 { padding-top: -48px; padding-bottom: -48px}
.py-n13 { padding-top: -52px; padding-bottom: -52px}
.py-n14 { padding-top: -56px; padding-bottom: -56px}
.py-n15 { padding-top: -60px; padding-bottom: -60px}
.py-n16 { padding-top: -64px; padding-bottom: -64px}
