@charset "utf-8";

$vl-link-visited-state: true;
$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';
$vl-icon-font-location: '~@govflanders/vl-ui-core/dist/font/iconfont/';

html {
    scroll-behavior: smooth;
}

.vl-region {
    a:focus,
    a:active,
    a:visited {
        color: #05c !important;
    }
}

@import './fonts.scss';
@import './base.scss';
@import './tooltip.scss';
@import './spacing-margin.scss';
@import './spacing-padding.scss';

.vl-typography pre:not([class*=language]),
code[class*=language-], 
pre[class*=language-] {
    background: rgb(17, 23, 26);
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
}

.vl-typography pre:not([class*=language]){
    overflow: hidden;
}