.--tooltip {
    position: relative;

}

.--tooltip::before {
    position: absolute;
    display: none;
    content: " ";
    background-color: rgba(255,255,255,0.7);
    color: #343434;
    border: 1px solid #333;
    width: 1px;
    height: 1px;
    z-index: 999;
}

.--tooltip::after {
    position: absolute;
    display: none;
    background-color:white;
    color: #232323;
    font-weight: 400;
    padding: 6px 18px;
    border-radius: 3px;
    z-index: 999;
    overflow-wrap: break-word;
    min-width: 100%;
    font-size: 0.85em;
    border: 1px solid #777;
}

.--tooltip:hover::after,
.--tooltip:hover::before {
    display: block;
}

.--tooltip.--tooltip-top::after {
    content: attr(data-content);
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
}

.--tooltip.--tooltip-top::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.--tooltip.--tooltip-bottom::after {
    content: attr(data-content);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 10px));
}

.--tooltip.--tooltip-bottom::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.--tooltip.--tooltip-right::after {
    content: attr(data-content);
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
}

.--tooltip.--tooltip-right::before {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

.--tooltip.--tooltip-left::after {
    content: attr(data-content);
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 10px));
}

.--tooltip.--tooltip-left::before {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
}